/* SellCar.css */
.form-container {
    margin-top: 20px;
    padding: 20px;
}

.section-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.box-container{
    padding: 20px;
    background: #ffff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 1rem;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* SellCar.css */



 
  
 
  /* Додано стилі для червоного бордера у випадку помилки валідації */
  .MuiFormControl-root.MuiTextField-root {
    margin-bottom: 20px;
  }
  
  .MuiFormControl-root.MuiSelect-root,
  .MuiFormControl-root.MuiCheckbox-root,
  .MuiFormControl-root.MuiFormControlLabel-root {
    margin-bottom: 20px;
  }
  
  .MuiFormHelperText-root {
    color: red;
  }