/* SellCar.css */
.form-container {
    margin-top: 20px;
    padding: 20px;
}

.section-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.box-container{
    padding: 20px;
    background: #ffff;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 1rem;
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-img{
    color: #256799;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px;
    padding: 8px 20px
}
.uploaded-block{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.uploaded-block img{
    max-height: 300px;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.uploaded-block-item{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 1rem;
}
/* SellCar.css */



 
  
 
  /* Додано стилі для червоного бордера у випадку помилки валідації */
  .MuiFormControl-root.MuiTextField-root {
    margin-bottom: 20px;
  }
  
  .MuiFormControl-root.MuiSelect-root,
  .MuiFormControl-root.MuiCheckbox-root,
  .MuiFormControl-root.MuiFormControlLabel-root {
    margin-bottom: 20px;
  }
  
  .MuiFormHelperText-root {
    color: red;
  }
  .sell-container{
      margin: 0 70px;
  }
@media (max-width: 840px) {
    .sell-container{
        margin: 0px;
    }
}
.error-input {
    border-color: red; /* Зміна кольору рамки на червоний */
}

/* Стилі для тексту допоміжної інформації про помилку */
.error-text {
    color: red; /* Зміна кольору тексту на червоний */
}