.defines-list-title {
    width: 130px;
    height: 40px;
    flex: none;
}

.defines-list-value {
    width: calc(100% - 130px);
    height: 40px;
    margin-left: 0;
    margin-bottom: 10px;
}

.about-car {
    position: absolute;
    left: 302px;
    top: 90.09px;
    width: 849px;
    height: 930px;
}

.car-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    padding: auto;
}

.title {
    color: #282828;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin: 10px 0px;
}

.exchange {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.checkbox-checked {
    border-radius: 2px;
    border: 1.2px solid #E6E3E0;

    width: 24px;
    height: 24px;
}

.number {
    text-align: center;
}

.seller {
    margin-top: 16px;
    display: flex;
}

.btn-chat {
    align-items: center;
    justify-content: center;
}

.left-marg {
    margin-left: 6px;
}

.price-ua {
    font-size: 20px;
}

.price {
    color: #282828;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.test {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.right-menu {
    width: 271.209px;
    height: 715px;
    flex-shrink: 0;
    border-left: 0.938px solid #D1D1D1;
    background: #F3F3F3;
    transition: opacity 0.3s ease-in-out;
    /* Додано анімацію для opacity */
    opacity: 1;
}

.margin-for-svg {
    margin-left: 4px;
}

.margin-for-span-right-menu {
    margin-left: 36px;
}

.description {
    margin-top: 16px;
    padding: 8px;
    border: solid 1px;
    border-radius: 10px;
    border-color: #D1D1D1;
}

.span-point {
    margin: 0px 6px;
}

.right-menu-font {
    font-size: 14px;
    line-height: 1.7;
    color: #444444;
    margin: 6px 0px 6px 0px;
}

.image-seller{
    display: flex;
}

.central-div{
    margin: 0px 30px;
    width: 100%
}

.image-div{
    height: 100%;
}

.about-seller{
    margin-left: 16px;
    width: 36%;
    height: 100%;
}

.car-abilities{
    display: flex;
    margin-top: 12px;
}

.car-abilities-span{
    font-size: 20px;
}

.about-car-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .image-seller{
        display: block;
    }

    .about-seller{
        width: 74%;
    }

    .car-abilities{
        display: block;
        
    }

    .car-abilities-span{
        font-size: 20px;
        margin-top: 12px;
    }
  }

  @media screen and (max-width: 768px) {
    .central-div{
        margin: 0px 4px;
    }

    .about-car-menu{
        display: block;
        margin-left: 16px;
    }

    .margin-for-span-right-menu{
        margin-left: 12px;
    }

    .right-menu{
        width: 100%;
    }
    .central-div{
        width: 48%;
    }
  }

  @media screen and (max-width: 376px) {
    .central-div{
        width: 100%;
        margin-left: 20px;
    }
  }