

/* @media screen and (max-width: 768px) {
  .chats {
    display: none !important; 
  }

  body{
    background-color: blue;
  }

  .back-btn{
    display: block !important;
  }

} */

#main {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin-left: 30px;
}

.main-container {
  display: flex;
  gap: 10px;
  flex: 1; 
  height: 650px;
  width: 100%;
}

.chats {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  /* height: 600px; */
  height: 790px;
}

.chat-img-container{
  height: 64px;
  width: 64px;
  overflow: hidden;
  min-width: 64px;
}

.chat-img {
  /* height: 64px;
  width: 64px;
  /* object-fit: cover; */
 
  border-radius: 64px; 

  width: 100%; /* Make the image take the full width of the container */
  height: 100%; /* Make the image take the full height of the container */
  /* object-fit: cover; */
} 

.chat-card {
  display: flex;
  gap: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  color: #282828;
  /* margin: auto; */

  /* flex:1; */
}

.seller-name {
  text-decoration: none;
}

.car-name {
  text-decoration: none;
}

.last-message {
  text-decoration: none;
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Set flex: 1 to make it fill the remaining vertical space */
  background-color: #fff;
  border-radius: 10px;

  /* overflow: hidden; */
}

.chat-container-seller {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 5px;
}

.line-separator {
  height: 1px;
  background-color: #d3d3d3;
}

.messages {
  padding: 5px;
  height: 700px;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.message {
  padding: 2px 7px;
  background-color: #f0f0f0;
  border-radius: 3px;
  margin: 5px 0px;
  overflow-wrap: break-word;
}

.message-r {
  margin-left: auto;
  margin-right: 10px;
  display: inline-block;
  text-overflow: ellipsis;
}

.message-l {
    margin-right:auto;
    margin-left: 10px;
    background-color: #d3d3d3;
}

.message-text {
  /* text-align: end; */
}

.message-input-container {
  display: flex;
  flex: 1;
}

.message-input {
  flex: 1;
  border: 0;
  border-radius: inherit;
  height: 2rem;
  /* height:50px */
}


.message-send-container{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* .back-btn{
  display: none;
} */